body {
    background-color: white;
}


.dropbtn {
  font-size: 15px;
  font-weight:bold;
  font-family: 'Times New Roman', Times, serif;
  border: gray;
}


/* Create space for the dropdown center */
.dropdown {
  position: relative;
  display: inline-block;
}
  
  /* Define the content of the dropdown list */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 20px;
  z-index: 1;
}
  
.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: grey;}
  
